.l-btn-add{
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background: $cta-color;
    border-radius: 50%;
    line-height: 1.3em;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.l-btn-add--small{
    font-size: 20px;
}
