.l-inputs__text-type {
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    min-height: 2rem;
    width: 100%;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    &::-webkit-input-placeholder{
        color:#fff;
    }
}



.l-inputs__dropdown-btn {
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    min-height: 2rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    &:after{
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        right: 1em;
        top: 0.9em;
        border: 0.25rem solid transparent;
        border-top: 0.40rem solid #fff;
    }
}
