
<form class="l-intro-box">
    <h2 class="l-intro-box__header">
        Sign in
    </h2>

    <input ng-model="$ctrl.username"
           type="text" id="inputName"
           name="username"
           placeholder="User Name or Email"
           class="l-inputs__text-type" required autofocus>

    <input ng-model="$ctrl.password"
           type="password"
           id="inputPassword"
           name="password"
           placeholder="Password"
           class="l-inputs__text-type" required>

    <div class="l-checkbox-wrapper">
        <div class="l-checkbox__box">
            <input ng-model="$ctrl.remember" name="remember"
                   type="checkbox" value="remember-me">
        </div>
        <p class="l-checkbox__label">
            Keep me signed in
        </p>
    </div>


    <div class="l-btn__wrapper">
        <button ng-click="$ctrl.logIn()"
                class="l-btn__primary l-btn__default l-btn__default--full-width">
                Sign in
        </button>
        <a href="#"
            class="l-btn__label">
            Forgot your password?
        </a>
    </div>

    <div class="l-btn__wrapper">
        <p href="#"
            class="l-btn__label
                    l-btn__label--primary">
            Don't have an account?
        </p>
        <button class="l-btn__primary
                        l-btn__default
                        l-btn__default--light">
                Sign up
        </button>
    </div>
</form>
