<div class="l-btn__wrapper" modal>
    <button class="l-btn__add l-btn__add--big">
        <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	    viewBox="0 0 20 20"
              xml:space="preserve" >
              <rect id="XMLID_1_" y="8" width="20" height="4"/>
              <rect id="XMLID_3_" x="8" y="0" width="4" height="20"/>
        </svg>
    </button>
    <!-- Modal -->
    <div class="m-modals__add-modal">
        <h5>Add subject</h5>
        <div class="l-dropdown-wrapper is-close" dropdown>
            <div class="l-inputs__text-type l-dropdown__btn">
                {{$ctrl.selectedSubject ? $ctrl.selectedSubject : 'Subject'}}
            </div>
            <ul class="l-dropdown__menu">
                <li ng-repeat="sub in $ctrl.userClass.subjects track by $index"
                    ng-click="$ctrl.pickSubject(sub);"
                    class="l-dropdown__menu-item">
                    {{::sub}}
                </li>
            </ul>
        </div>
        <button ng-click="$ctrl.addSubject($ctrl.selectedSubject)"
                ng-disabled="!$ctrl.selectedSubject"
                class="l-btn__default l-btn__primary">
            Add
        </button>
    </div>
</div>
