<ng-transclude></ng-transclude>
<button ng-click="delete()"
        class="l-btn__close">
    <!-- <span class="l-btn__close-icon"></span> -->
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 20 20"
        xml:space="preserve">
      <rect id="XMLID_1_" x="0" y="8" transform="matrix(0.719 -0.695 0.695 0.719 -4.1401 9.7603)" width="20" height="4"/>
      <rect id="XMLID_3_" x="0" y="8" transform="matrix(0.695 0.719 -0.719 0.695 10.2397 -4.1401)" width="20" height="4"/>
    </svg>
</button>
