.l-btn__wrapper{
    margin: auto;
    text-align: center;
    width: 100%;
}

.l-btn__default{
    display: inline-block;
    color: darken($cta-color, 35%);
    background: $cta-color;
    border-radius: 3em;
    text-align: center;
    box-shadow: 0.125em 0.125em 0.6em transparentize($cta-color, 0.7);
    cursor: pointer;
    transition: 0.2s;

    &:active{
        transform: translate(1px, 1px);
        box-shadow: none;
    }
}

.l-btn__add{
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
}

.l-btn__add-icon{
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
    transform-origin: center;
    overflow: visible;

    &::after, &::before{
        content: "";
        width: 100%;
        height: 2px;
        background: darken($cta-color, 35%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &::after{
        transform: translate(-50%, -50%);
    }

    &::before{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.l-btn__add--small{
    font-size: 1.24rem;
    @media only screen and (max-width: 62em) {
        font-size: 1.7rem;
    }
}

.l-btn__add--big{
    width: 2.5rem;
    height: 2.5rem;
}

.l-btn__close{
    width: 1.2rem;
    height: 1.2rem;
}

.l-btn__close-icon{
    width: 10px;
    height: 10px;
    display: block;
    margin: auto;
    transform: rotate(45deg);
    transform-origin: center;
    overflow: visible;

    &::after, &::before{
        content: "";
        width: 100%;
        height: 2px;
        background: darken($cta-color, 35%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &::after{
        transform: translate(-50%, -50%);
    }

    &::before{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.l-btn__primary {
    font-size: 0.8rem;
    padding: 0.7em 2.5em;
    margin-top: 0.7rem;
    font-family: 'Paytone One', sans-serif;
}
