.l-btn__wrapper{
    margin: auto;
    text-align: center;
    width: 100%;
}


.l-btn__default{
    display: inline-block;
    color: darken($cta-color, 35%);
    background: $cta-color;
    border-radius: 3em;
    text-align: center;
    box-shadow: 0.125em 0.125em 0.6em transparentize($cta-color, 0.7);
    cursor: pointer;
    transition: 0.2s;

    &:active{
        transform: translate(1px, 1px);
        box-shadow: none;
    }
}


.l-btn__add{
    margin: 0.7rem;
    line-height: 0;
    
    svg{
        fill: darken($cta-color, 35%);
        padding: 0.5rem;
        width: 2rem;
        background: red;
        border-radius: 50%;
        background: $cta-color;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 0.125em 0.125em 0.6em transparentize($cta-color, 0.7);

        &:active{
            transform: translate(1px, 1px);
            box-shadow: none;
        }
    }
}

.l-btn__add--big{

    svg{
        width: 2.5rem;
        padding: 0.7rem;
    }
}


.l-btn__close{
    line-height: 0;

    svg{
        width: 1.1rem;
        padding: 0.25rem;
        fill: darken($cta-color, 35%);
        background: $cta-color;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 0.125em 0.125em 0.6em transparentize($cta-color, 0.7);
        &:active{
            transform: translate(1px, 1px);
            box-shadow: none;
        }
    }
}

.l-btn__primary {
    font-size: 0.8rem;
    padding: 0.7em 2.5em;
    margin-top: 0.7rem;
    font-family: 'Paytone One', sans-serif;
}
