.l-container{
    max-width: 1100px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

// .l-main-container.is-close{
//     padding-right: 0;
//     transition: 0.5s;
// }
//
// .l-main-container.is-open{
//     padding-right: 150px;
// }
