.l-inputs__text-type {
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    min-height: 2rem;
    width: 100%;
    color: #fff;
    background: $main-color;
    border: 2px solid transparent;
    &::-webkit-input-placeholder{
        color:#fff;
    }
}

.l-inputs__text-type.l-dropdown-wrapper{
    padding-left: 0;
    padding-right: 0;
}

.l-inputs__text-type.error{
    border-color: $error-color;
    background: transparentize($error-color, 0.9);
}

.l-inputs__text-type.success{
    border-color: $success-color;
    background: transparentize($success-color, 0.9);
}

.l-inputs__global-error-box{
    padding-top: 0.5rem;
}

.l-inputs__global-error{
    color: red;
    margin: 0.5em 0;
    font-size: 0.8rem;
}
