.l-intro-box {
    max-width: 30rem;
    background: $main-color--darker;
    border-radius: 1rem;
    margin: auto;
    padding: 3rem 4rem 4rem 4rem;
    @include fade(0s);
    @media only screen and (max-width: 30rem) {
        margin: 0 1rem;
    }
    @media only screen and (max-width: 28rem) {
        padding: 3rem 2rem 4rem 2rem;
    }
}

.l-intro-box__header{
    font-size: 1.7rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1.3em;
    text-align: center;
}
