.l-menu__navbar{
    background: $main-color--darker2;
    height: 6rem;
    a{
        color: rgba(255, 255, 255, 0.8);
        padding: 0 5px;
    }
}

.l-menu__hamburger{
    width: 50px;
    position: fixed;
    right: 3rem;
    top: 16px;
    z-index: 10001;
    @media only screen and (max-width: 62em) {
        right: 1rem;
        transform: scale(0.7);
    }

    img{
        display: block;
        margin: 0.5rem 0;
        transition: 0.3s;
        transform: translate(0) rotate(0) scaleX(1);
        transform-origin: center;
    }
}


.l-menu__hamburger.is-open{

    img:first-child{
        transform: translate(25%, 0.5rem) rotate(33deg) scaleX(0.5);
    }

    img:last-child{
        transform: translate(25%, -0.5rem) rotate(-33deg) scaleX(0.5);
    }

}
