.l-menu__navbar{
    background: $main-color--darker2;
    height: 6rem;
    a{
        color: rgba(255, 255, 255, 0.8);
        padding: 0 5px;
    }
}

.l-menu__hamburger{
    width: 50px;
    position: fixed;
    right: 3rem;
    top: 16px;
    z-index: 10001;
    @media only screen and (max-width: 62em) {
        right: 1rem;
        transform: scale(0.7);
    }

    &.is-open{

        .l-menu__hamburger-icon{
        &:first-child{
            transform: translate(25%, 0.5rem) rotate(33deg) scaleX(0.5);
        }
        &:last-child{
            transform: translate(25%, -0.5rem) rotate(-33deg) scaleX(0.5);
        }
        }

    }
}

.l-menu__hamburger-icon {
    height: 6px;
    width: 100%;
    background: white;
    display: block;
    border-radius: 2rem;
    margin: 0.5rem 0;
    transition: 0.2s;
    transform: translate(0) rotate(0) scaleX(1);
    transform-origin: center;
}

.l-menu__logo{
    height: 100%;

    img{
        height: 100%;
        padding-top: 1.5rem;
        padding-left: 2rem;
        padding-bottom: 2.5rem;
        @media only screen and (max-width: 62em) {
            padding-left: 1rem;
        }
    }
}
