.l-pill__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.l-pill__default{
    display: inline-block;
    font-size: 1rem;
    padding: 0.7em 4em;
    padding-right: 4.5em;
    border-radius: 3em;
    margin: 0.25em 0.2em;
    background: $main-color--darker;
    color: #fff;
    text-align: center;
    font-family: 'ubuntu', sans-serif;

    .l-btn__close{
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
    }

    @media only screen and (max-width: 48rem) {
        width: 100%;
    }
}

.l-pill--block{
    display: block;
    padding-left: 0;
    padding-right: 0;
}
