.cls-body{
    transition: 0.5s;

    &.is-open{
        @media (min-width: 1400px) and (max-width: 1700px){
        padding-right: 300px;
        }

        &::after{
            @media (max-width: 1400px){
                content: "";
                background: rgba(50, 35, 131, 0.77);
                z-index: 1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: fixed;
                @include fade(0s);
            }
        }
    }
}

.l-primary-nav{
    position: fixed;
    width: 300px;
    height: 100%;
    right: 0;
    top: 0;
    background: $main-color--darker2;
    z-index: 9998;
    padding-right: 3rem;
    padding-top: 6rem;
    text-align: right;
    transform: translateX(100%);
    transition: 0.5s;
    @media (max-width: 1400px){
        box-shadow: -12px 0 52px rgba(0, 0, 0, 0.26);
    }
    @media (max-width: 1700px){
        background: $main-color;
    }
    @media only screen and (max-width: 62em) {
        padding-right: 1.5rem;
    }
}

.l-primary-nav.is-open{
    transform: translateX(0);
}

.l-primary-nav__item{

    &:first-child{
        margin-top: 0;
    }

    a,
    button{
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
    }

    &--logout{
        margin-top: 0.5rem;
    }
}
