.l-refresh__button{
    position: absolute;
    right: 1.5rem;
    top: -2rem;
    transform: rotate(0);
    transform-origin: center center;
    transition: 0.3s;

    &:hover{
        transform: rotate(50deg);
    }

    img{
        width: 2rem;
    }
}
