<header class="l-subheader">
   <h2>Timetable</h2>
</header>

<!-- Timetable -->
<section class="m-timetable l-container">
    <div class="m-timetable__container  m-modals__mask">
        <!-- School day -->
        <div ng-repeat="day in $ctrl.userClass.timetable track by $index"
             ng-init="dayIdx = $index"
             class="m-timetable__day-box unhover">
            <h3>{{day.day}}</h3>
            <ol class="m-timetable__subjects-wrapper">
                <!-- Single Subject -->
                <li ng-repeat="subject in day.subjects track by $index" dropdown
                    ng-init="subjIdx = $index" data-subject-index="{{$index}}"
                    data-day-index="{{dayIdx}}"
                    class="l-dropdown-wrapper is-close" drag-drop
                    drop-handler="$ctrl.dropHandler(e)">
                    <span class="m-timetable__subject l-pill__default l-pill--block l-dropdown__btn">
                        {{subject}}
                        <button ng-click="$ctrl.removeSubject($event, dayIdx, subjIdx)"
                                class="l-btn__close">
                                <img src="static/assets/images/icon-close.svg" />
                        </button>
                    </span>
                    <ul class="l-dropdown__menu">
                        <li ng-repeat="sub in $ctrl.userClass.subjects track by $index"
                            ng-click="$ctrl.replaceSubject(dayIdx, subjIdx, sub)"
                            class="l-dropdown__menu-item">
                            {{::sub}}
                        </li>
                    </ul>
                </li>
            </ol>
            <add-subject-modal user-class="$ctrl.userClass"
                               day-index="dayIdx">
            </add-subject-modal>
        </div>
    </div>
</section>
