.m-timetable__container{
    display: flex;
}

.m-timetable__day-box{
    flex: 1 1 auto;
    min-width: 0;

    h3{
        text-align: center;
        font-size: 1.3rem;
    }
}

.m-timetable__subjects-wrapper{
    padding: 0 0.4rem;
    .l-btn__close{
        display: none;
    }
}

.m-timetable__subject{
    text-align: center;
    margin: 0 0 0.4rem auto;
    padding-left: 10px;
    padding-right: 10px;
    counter-increment: my-counter;

    &:before{
        content: counter(my-counter);
        position: absolute;
        left: 0.6rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8em;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background: $main-color--darker;
        border-radius: 50%;
    }

    &:after{
        top: 1.2em;
    }
}

.m-timetable__subjects-wrapper .l-dropdown-wrapper.is-open{
    .l-btn__close{
        position: absolute;
        display: block;
        z-index: 1;
        left: 0.6rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8em;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
    }
}
