.m-timetable__container{
    display: flex;

    @media (max-width: 1100px){
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
    }
}

// @media (min-width:1000px) {
//     .m-timetable__container:hover .m-timetable__day-box{
//         opacity: 0.85;
//         transform: scale(0.9);
//     }
// }

.m-timetable__day-box{
    flex: 1 1 auto;
    min-width: 0;
    padding-bottom: 50px;
    transform-origin: center 5rem;
    transition: 0.3s;

    // @media (min-width:1000px){
    //     &:hover{
    //         opacity: 1 !important;
    //         transform: scale(1.1) !important;
    //     }
    // }

    h3{
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
    }
}

.m-timetable__subjects-wrapper{
    padding: 0 0.4rem;
    list-style: none;

    .l-btn__close{
        left: 0.6rem;
        top: 50%;
        transform: translateY(-50%) scale(0);
        transition: 0.3s;
        z-index: 3;

        svg{
            width: 1.5rem;
            height: 1.5rem;
            box-shadow: none;
            padding: 0.35rem;
        }

        @media (max-width: 1100px){
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }

    .m-timetable__subject:hover{
        .l-btn__close{
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }

    > li{
        counter-increment: my-counter;

        &:before{
            content: counter(my-counter);
            position: absolute;
            left: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.8em;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            background: $main-color--darker;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            z-index: 2;
        }
    }
}

.m-timetable__subject{
    text-align: center;
    margin: 0 0 0.4rem auto;
    padding-left: 10px;
    padding-right: 10px;

    &:after{
        top: 1.2em;
    }

}
