<header class="l-subheader">
   <h2>Timetable</h2>
</header>

<!-- Timetable -->
<section class="m-timetable l-container">
    <div class="m-timetable__container  m-modals__mask">
        <!-- School day -->
        <div ng-repeat="day in $ctrl.userClass.timetable track by $index"
             ng-init="dayIdx = $index"
             class="m-timetable__day-box unhover">
            <h3>{{day.day}}</h3>
            <ol class="m-timetable__subjects-wrapper">
                <!-- Single Subject -->
                <li ng-repeat="subject in day.subjects track by $index" dropdown
                    ng-init="subjIdx = $index"
                    class="l-dropdown-wrapper is-close">
                    <span class="m-timetable__subject l-pill__default l-pill--block l-dropdown__btn">
                        {{subject}}
                        <button class="l-btn__default l-btn__close">
                            <span class="l-btn__close-icon"></span>
                        </button>
                    </span>
                    <ul class="l-dropdown__menu">
                        <li ng-repeat="sub in $ctrl.userClass.subjects track by $index"
                            ng-click="$ctrl.replaceSubject(dayIdx, subjIdx, sub)"
                            class="l-dropdown__menu-item">
                            {{::sub}}
                        </li>
                    </ul>
                    <button class="l-btn__close l-btn__default">
                        <span class="l-btn__close-icon"></span>
                    </button>
                </li>
            </ol>
            <div class="l-btn__wrapper" modal>
                <button class="l-btn__add l-btn__default l-btn__add--big">
                    <span class="l-btn__add-icon"></span>
                </button>
                <!-- Modal -->
                <div class="m-modals__add-modal" >
                    <h5>Add subject</h5>
                    <div class="l-dropdown-wrapper is-close">
                        <div class="l-inputs__text-type l-dropdown__btn">
                            Subject
                        </div>
                        <ul class="l-dropdown__menu">
                            <li ng-repeat="sub in $ctrl.userClass.subjects track by $index"
                                class="l-dropdown__menu-item">
                                {{::sub}}
                            </li>
                        </ul>
                    </div>
                    <button class="l-btn__default l-btn__primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</section>
