.m-profile__wrapper{
    max-width: 30rem;
    margin: auto;
    padding: 1rem;

    p{
        color: #fff;
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }

    div:not(.m-modals__add-modal) > .l-btn__primary{
        margin-top: 0.5em;
    }

    > .l-inputs__text-type-wrapper:not(:first-of-type){
        margin-top: 3rem;
    }
}
