<header class="l-subheader">
    <h2>User profile</h2>
</header>
<div  class="m-modals__mask m-profile__wrapper">
    <div class="l-inputs__text-type-wrapper">
        <p>Login</p>
        <input ng-model="$ctrl.userMail"
               type="email" id="inputEmail"
               name="email" readonly
               class="l-inputs__text-type l-pill__default">
    </div>

    <div class="l-inputs__text-type-wrapper">
        <p>Password</p>
        <input ng-model="$ctrl.password"
               type="password" readonly
               id="inputPassword"
               name="password"
               class="l-inputs__text-type l-pill__default">
    </div>
    <new-password-modal></new-password-modal>
    <div class="l-inputs__text-type-wrapper">
        <p>Class</p>
        <input ng-model="$ctrl.userClass"
               type="text" readonly
               id="inputClass"
               name="class"
               class="l-inputs__text-type l-pill__default">
    </div>
    <div class="l-btn__wrapper">
        <button ui-sref="auth.search"
                class="l-btn__default
                        l-btn__primary">Change</button>
    </div>
</div>
