<ul class="m-timetable-home__nav">

    <li class="l-btn__prev">
        <button ng-click="$ctrl.previousDay()">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 43.3 50"
                xml:space="preserve">
                <polygon id="XMLID_1_" points="43.3,25 21.7,37.5 0,50 0,25 0,0 21.7,12.5 "/>
            </svg>
        </button>
    </li>

    <li ng-repeat="day in $ctrl.beforeDays"
        ng-class="{'m-timetable-home__day--weekend':
                    day.weekend}"
        class="m-timetable-home__day">
        {{day.day}}
    </li>
    <li class="m-timetable-home__day
                m-timetable-home__day--current">
        <h3 class="day-name">
            {{$ctrl._selectedDay.format('ddd')}}
        </h3>
        {{$ctrl._selectedDay.date()}}
    </li>
    <li ng-repeat="day in $ctrl.afterDays"
        ng-class="{'m-timetable-home__day--weekend':
                    day.weekend}"
        class="m-timetable-home__day">
        {{day.day}}
    </li>

    <li class="l-btn__next">
        <button ng-click="$ctrl.nextDay()">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 43.3 50"
                xml:space="preserve">
                <polygon id="XMLID_1_" points="43.3,25 21.7,37.5 0,50 0,25 0,0 21.7,12.5 "/>
            </svg>
        </button>
    </li>
</ul>
