.m-average-grade{
    font-size: 1rem;
    text-align: center;
    h5{
        text-align: center;
        font-size: 1.4em;
        letter-spacing: 1px;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}

.m-average-grade__value{
    font-size: 1.5rem;
    background: $main-color;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    box-sizing: content-box;
    font-family: 'Paytone One', sans-serif;
}
