 <header class="l-subheader">
    <h2>My grades</h2>
</header>

<section class="m-grades m-modals__mask l-container">
    <div class="m-grades__container row">
        <div ng-repeat="gradesPerSubject in $ctrl.formattedGrades"
             class="col-xs-12 col-sm-6 col-md-3 m-grades__box-parent">
            <div class="m-grades__box">
                <!-- subject name -->
                <h3>{{gradesPerSubject.subject}}</h3>

                <div class="m-grades__variables">
                    <!-- lista ocen -->
                    <span ng-repeat="grade in gradesPerSubject.grades"
                          class="m-grades__grade">{{grade.grade}}</span>

                    <!-- srednia z ocen -->
                    <span class="m-grades__average-grade">
                        {{$ctrl.averageLabel(gradesPerSubject.grades)}}
                    </span>
                </div>
                <!-- Modal -->
                <grade-modal grade-types="$ctrl.userClass.gradeTypes"
                             subject="{{gradesPerSubject.subject}}"></grade-modal>
            </div>
        </div>
    </div>
</section>

<!-- ziomek to daje tu tylko bo nie mam gdzie narazie-->
<user-average-grade></user-average-grade>

<!-- Docelowo zostanie stad wyjebane -->
<script type="text/ng-template" id="modalDirective.html">
    <div class="l-btn__wrapper">
        <button class="l-btn__add l-btn__default l-btn__add--small">
            <span class="l-btn__add-icon"></span>
        </button>       

        <div class="m-modals__add-modal">
            <h5>New grade</h5>
            <input ng-model="modalVm.grade.grade"
                    class="l-inputs__text-type" placeholder="Grade...">
            <div class="l-dropdown-wrapper is-close">
                <div class="l-dropdown__btn">
                    {{!modalVm.grade.type ? 'Grade type':
                        modalVm.gradeTypeLabel(modalVm.grade.type)}}
                </div>
                <ul class="l-dropdown__menu">
                    <li ng-repeat="type in modalVm.gradeTypes"
                        ng-click="modalVm.pickType(type)"
                        class="l-dropdown__menu-item">
                        {{type.name}}
                        <span class="m-settings__grade-rate">
                            [ rate: {{type.rate}} ]
                        </span>
                    </li>
                </ul>
            </div>
            <button ng-click="modalVm.addGrade(
                                modalVm.grade.grade, modalVm.grade.type.name)"
                    class="l-btn__default l-btn__primary">Add</button>
        </div>
    </div>
</script>
