.m-grades__grade{
    color: $main-color--darker2;
    font-size: 1.2rem;
    margin: 0 0.07em;
    color: #fff;
}

.m-grades__container{
    @include fade(0.1s);
}

.m-grades__average-grade{
    font-size: 0.8em;
    color: #fff;
}

.m-grades__average-box{
    margin-top: 5rem;
}

.m-grades__box{
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    margin: 0.4rem;
    margin-left: calc(-1rem + 5px);
    margin-right: calc(-1rem + 5px);
    height: calc(100% - 10px);

    h3{
        margin: 0;
        color: #fff;
        font-size: 1.3rem;
        margin-bottom: 0.5em;
    }
}
