<header class="l-subheader">
    <h2>My grades</h2>
</header>

<section class="m-grades l-container">
    <div class="m-grades__container m-modals__mask row">
        <div ng-repeat="gradesPerSubject in $ctrl.formattedGrades"
             class="col-xs-12 col-sm-6 col-md-3 m-grades__box-parent">

            <!-- Read View -->
            <div ng-hide="true"
                 class="m-grades__box">
                <button class="l-btn__settings">
                    <img src="static/assets/images/icon-settings.svg" />
                </button>

                <!-- subject name -->
                <h3>{{gradesPerSubject.subject}}</h3>

                <div class="m-grades__variables">
                    <!-- lista ocen -->
                    <span ng-repeat="grade in gradesPerSubject.grades"
                          class="m-grades__grade">{{grade.grade}}</span>

                    <!-- srednia z ocen -->
                    <span class="m-grades__average-grade">
                        {{$ctrl.averageLabel(gradesPerSubject.grades)}}
                    </span>
                </div>
                <!-- Add new grade - modal -->
                <new-grade-modal grade-types="$ctrl.userClass.gradeTypes"
                                 subject="{{gradesPerSubject.subject}}">
                </new-grade-modal>
            </div>

            <!-- Edit View -->
            <div class="m-grades__box
                        m-grades__box--edit">
                <button class="l-btn__settings">
                    <img src="static/assets/images/icon-settings.svg" />
                </button>

                <!-- subject name -->
                <h3>{{gradesPerSubject.subject}}</h3>

                <div class="m-grades__variables">
                    <!-- lista ocen -->
                    <span ng-repeat="grade in gradesPerSubject.grades"
                          class="m-grades__grade
                                m-grades__grade--edit">
                        <span class="m-grades__grade-type">
                            [{{grade.ratio}}] x
                        </span>
                        {{grade.grade}}
                        <button class="l-btn__close">
                            <img src="static/assets/images/icon-close.svg" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="l-container">
    <div class="row">
        <!-- Stats -->
        <div class="col-xs-12">
            <div class="m-grades__average-box">
                <user-average-grade></user-average-grade>
            </div>
        </div>
    </div>
</div>
