<div class="l-btn__wrapper" modal>
    <button class="l-btn__add l-btn__add--small">
        <!-- <span class="l-btn__add-icon"></span> -->
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 20 20"
              xml:space="preserve">
              <rect id="XMLID_1_" y="8" width="20" height="4"/>
              <rect id="XMLID_3_" x="8" y="0" width="4" height="20"/>
        </svg>
    </button>

    <div class="m-modals__add-modal">
        <h5>New grade</h5>
        <div dropdown
             class="l-inputs__text-type-wrapper l-dropdown-wrapper is-close">
            <div class="l-dropdown__btn l-inputs__text-type">
                {{!modalVm.grade.type ? 'Grade type':
                    modalVm.gradeTypeLabel(modalVm.grade.type)}}
            </div>
            <ul class="l-dropdown__menu">
                <li ng-repeat="type in modalVm.gradeTypes"
                    ng-click="modalVm.pickType(type)"
                    class="l-dropdown__menu-item">
                    {{type.name}}
                    <span class="m-settings__grade-rate">
                        [ rate: {{type.rate}} ]
                    </span>
                </li>
            </ul>
        </div>

        <form ng-submit="modalVm.addGrade(
                          modalVm.grade.grade, modalVm.grade.type.name)">
            <div class="l-inputs__text-type-wrapper">
                <input ng-model="modalVm.grade.grade"
                       class="l-inputs__text-type"
                       placeholder="Grade...">
            </div>
            <button type="submit" class="l-btn__default l-btn__primary">Add</button>
        </form>
    </div>
</div>
