<div class="l-btn__wrapper" modal>
    <button class="l-btn__add l-btn__default l-btn__add--small">
        <span class="l-btn__add-icon"></span>
    </button>

    <div class="m-modals__add-modal">
        <h5>New grade</h5>
        <div dropdown
             class="l-dropdown-wrapper is-close">
            <div class="l-dropdown__btn l-inputs__text-type">
                {{!modalVm.grade.type ? 'Grade type':
                    modalVm.gradeTypeLabel(modalVm.grade.type)}}
            </div>
            <ul class="l-dropdown__menu">
                <li ng-repeat="type in modalVm.gradeTypes"
                    ng-click="modalVm.pickType(type)"
                    class="l-dropdown__menu-item">
                    {{type.name}}
                    <span class="m-settings__grade-rate">
                        [ rate: {{type.rate}} ]
                    </span>
                </li>
            </ul>
        </div>

        <form ng-submit="modalVm.addGrade(
                          modalVm.grade.grade, modalVm.grade.type.name)">
            <input ng-model="modalVm.grade.grade"
                   class="l-inputs__text-type"
                   placeholder="Grade...">
            <button type="submit" class="l-btn__default l-btn__primary">Add</button>
        </form>
    </div>
</div>
