.m-settings__subjects,
.m-settings__grade-types{
    max-width: 850px;
    margin: auto;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    @media only screen and (max-width: 48rem) {
        padding-left: 0;
        padding-right: 0;
    }

    h3{
        text-align: center;
        color: $main-color--darker2;
        font-size: 2rem;
        margin: auto;
        margin-top: 0;
        margin-bottom: 1em;
    }

    .l-btn__add{
        margin: auto;
        margin-top: 0.3rem;
    }
}

.m-settings__grade-rate {
    font-size: 0.8em;
    font-family: 'ubuntu', sans-serif;
    margin-left: 0.2em;
}

new-subject-modal,
new-grade-type-modal{
    display: block;
    width: 100%;
    margin-top: 1rem;
}
