<header class="l-subheader">
    <h2>Settings</h2>
</header>
<div class="m-settings__content-container  l-container">
    <!-- Subjects -->
    <section class="m-settings__subjects m-modals__mask row">
        <h3>Subjects</h3>
        <div class="l-pill__wrapper">
            <pill ng-repeat="subject in $ctrl.userClass.subjects"
                  delete="$ctrl.removeSubject(subject)"
                  class="l-pill__default">
                {{subject}}
            </pill>


            <!-- To sie wyswietla gdy nie mozna usunac przedmiotu -->
            <div class="l-pill__default">
                <span class="l-tooltip__icon">
                    ?
                    <div class="l-tooltip__box">
                        <p class="l-tooltip__box-text">
                            This subject is used in timetable
                        </p>
                    </div>
                </span>
                Gowno
                <button class="l-btn__close l-btn__close--disabled">
                    <img src="static/assets/images/icon-close.svg" />
                </button>
            </div>
        </div>

        <!-- Add new subject - modal -->
        <new-subject-modal user-class="$ctrl.userClass"></new-subject-modal>
    </section>

    <!-- Grade types -->
    <section class="m-settings__grade-types m-modals__mask row">
        <h3>Grade types</h3>
        <div class="l-pill__wrapper">
            <pill ng-repeat="type in $ctrl.userClass.gradeTypes"
                  delete="$ctrl.removeGradeType(type)"
                  class="l-pill__default">
                {{type.name}}
                <span class="m-settings__grade-rate">
                    [ rate: {{type.rate}} ]
                </span>
            </pill>
        </div>

        <!-- Add new grade type - modal -->
        <new-grade-type-modal user-class="$ctrl.userClass"></new-grade-type-modal>
    </section>
</div>
