*{
    box-sizing: border-box;
    position: relative;
    -webkit-backface-visibility: hidden;
}

button {
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

body{
    font-size: 16px;
    padding-bottom: 5rem;
    background-image: url('../assets/images/background-intro.jpg');
    background-color: $main-color--darker2;
    background-size: cover;
    background-attachment: fixed;
}
