/*COLORS***/

//Main color
$main-color: #593bff; // blue
$main-color--darker: #442ebd;
$main-color--darker2: #322383;
$main-color--lighter: #e5e0ff;
$main-color--lighter2: #f5f3ff;

//Call to action color
$cta-color: #e8366c; //pink

//Success color
$success-color: #d7e836; //green

//Warning color
$warning-color: #ffb048; //orange

//Success color
$error-color: red; //red


/*MIXINS***/

// Fade
@mixin fade($delay){
    animation: fade 0.4s $delay both;
}
