<div class="l-btn__wrapper" modal>
    <!--pamietaj ze ta klasa btn_add otwiera modala-->
    <div class="l-btn__wrapper l-btn__add l-btn__add--big">
        <button ng-click="$ctrl.saveClass()"
                class="l-btn__default
                        l-btn__primary">Change</button>
    </div>

    <div class="m-modals__add-modal">
        <form name="newPasswordForm"
              ng-submit="modalVm.addGrade(
                          modalVm.grade.grade, modalVm.grade.type.name)">

            <div class="l-inputs__text-type-wrapper">
                <input ng-model="modalVm.newPassword" type="password"
                        class="l-inputs__text-type"
                        placeholder="New Password" required>
            </div>
            
            <div class="l-inputs__text-type-wrapper">
                <input ng-model="modalVm.newPassword2" type="password"
                        class="l-inputs__text-type"  ng-pattern="modalVm.newPassword"
                        ng-model-options="{allowInvalid: true}"
                        placeholder="Repeat Password" required>
            </div>
            
            <button ng-disabled="newPasswordForm.$invalid"
                    type="submit" class="l-btn__default l-btn__primary">Changee</button>
        </form>
    </div> 
</div>
 