<div modal
     class="l-btn__wrapper">
    <button class="l-btn__add l-btn__add--big">
        <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	    viewBox="0 0 20 20"
              xml:space="preserve" >
              <rect id="XMLID_1_" y="8" width="20" height="4"/>
              <rect id="XMLID_3_" x="8" y="0" width="4" height="20"/>
        </svg>
    </button>
    <div class="m-modals__add-modal">
        <h5>New grade type</h5>
        <form novalidate>
            <div class="l-inputs__text-type-wrapper">
                <span class="l-tooltip__icon">
                    ?
                    <div class="l-tooltip__box">
                        <p class="l-tooltip__box-text">
                            It can be something like exam or test
                        </p>
                    </div>
                </span>
                <input ng-model="type.name"
                        class="l-inputs__text-type  error"
                        placeholder="Grade type...">
            </div>
            <div class="l-inputs__text-type-wrapper">
                <span class="l-tooltip__icon">
                    ?
                    <div class="l-tooltip__box">
                        <p class="l-tooltip__box-text">
                            It's a factor used in weighted average calculations. Default value is 1
                        </p>
                    </div>
                </span>
                <input ng-model="type.rate" type="number"
                        class="l-inputs__text-type success"
                        placeholder="Grade rate...">
            </div>

        </form novalidate>
        <p class="m-modals__info-desc">
            *default value of grade rate is 1
        </p>
        <div class="l-btn__wrapper">
            <button ng-click="$ctrl.addGradeType(type);"
                    ng-disabled="!type.name || !type.rate"
                    class="l-btn__default l-btn__primary">Add</button>
        </div>
        <!-- To bedzie takie pudelko na powiadomienia dla usera.
        Moze byc ich nawet 10 i nic sie nie rozejdzie jak pizda tirowki -->
        <div class="l-inputs__global-error-box">
            <p class="l-inputs__global-error">
                *It must be a text
            </p>
            <p class="l-inputs__global-error">
                *It must be a text
            </p>
        </div>
    </div>
</div>
