<div modal
    class="l-btn__wrapper">
    <button class="l-btn__default l-btn__add">
        <span class="l-btn__add-icon"></span>
    </button>
    <div class="m-modals__add-modal">
        <h5>New subject</h5>
        <input ng-model="newSubject"
               class="l-inputs__text-type" placeholder="Subject name...">
        <div class="l-btn__wrapper">
            <button ng-click="$ctrl.addSubject(newSubject); newSubject='';"
                    class="l-btn__default l-btn__primary">
                Add
            </button>
        </div>
    </div>
</div>