<div class="m-calendar__month">
    <h3 class="m-calendar__month-name">
        <span class="l-btn__arrow
                    l-btn__arrow--small
                    l-btn__arrow--prev">
            <button ng-click="calendarCtrl.prevMonth()"></button>
        </span>
        {{calendarCtrl.getActiveMonthName()}} {{calendarCtrl.getActiveYear()}}
        <span class="l-btn__arrow
                    l-btn__arrow--small
                    l-btn__arrow--next">
            <button ng-click="calendarCtrl.nextMonth()"></button>
        </span>
    </h3>
</div>

<ul class="m-calendar__body">
    <li ng-repeat="day in calendarCtrl.daysArray track by $index"
        ng-click="calendarCtrl.pickDay(day)"
        class="m-calendar__day-box">

        <span ng-if="day"
              ng-class="{'m-calendar__day--active': calendarCtrl.isDayActive(day.day),
                         'm-calendar__day--weekend': calendarCtrl.isWeekend(day.day)}"
              class="m-calendar__day">
            {{day.day}}
        </span>

        <span ng-if="day.data"
              class="m-calendar__day--event">
        </span>
    </li>
</ul>
