<div class="month">
    <ul>
        <li ng-click="$ctrl.prevMonth()"
            class="prev">
            &#10094;
        </li>
        <li ng-click="$ctrl.nextMonth()"
            class="next">
            &#10095;
        </li>
        <li>
            {{$ctrl.getActiveMonthName()}}<br>
            <span style="font-size:18px">
                {{$ctrl.getActiveYear()}}
            </span>
        </li>
    </ul>
</div> 
<ul class="days">
    <li ng-repeat="day in $ctrl.daysArray track by $index"
        ng-click="$ctrl.pickDay(day.day)">
        <!-- to 'active' to klasa ktora bedzie ustawiona jesli to po prawo da TRUE
                zmien nazwe etc na jaka chcesz -->
        <span ng-class="{'active': $ctrl.isDayActive(day.day), 
                         'weekend' : $ctrl.isWeekend(day.day)}">
            {{day.day}}
        </span>
        
        <!-- To bedzie wstawione tylko jesli sa jakies egzamy -->
        <span ng-if="day.exams"
              style="color:red">
            *
        </span>
    </li>
</ul>

<style>
    ul { 
        list-style-type: none;
    }
    
    body {
        font-family: Verdana, sans-serif;
    }
    /* Month header */
    
    .weekend {
        background: #97ff9b;
    }

    .month {
        width: 100%;
        background: #1abc9c;
    }
    /* Month list */
    
    .month ul {
        margin: 0;
        padding: 0;
    }
    
    .month ul li {
        text-align: center;
        color: white;
        font-size: 20px;
        text-transform: uppercase; 
        letter-spacing: 3px;
    }
    /* Previous button inside month header */
    
    .month .prev {
        float: left;
        padding-top: 10px;
        cursor: pointer;
        z-index: 3000;
    }
    /* Next button */
    
    .month .next {
        float: right;
        padding-top: 10px;
        cursor: pointer;
        z-index: 3000;
    }
    /* Weekdays (Mon-Sun) */
    
    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }
    
    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }
    /* Days (1-31) */
    
    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }
    
    .days li {
        list-style-type: none;
        cursor: pointer;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }
    /* Highlight the "current" day */
    
    .days li .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }
</style>