// Modal open animation
@keyframes modal-open {
    0% {
        transform: translate(-50%, -50%) scale(0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
// Modal close animation
@keyframes modal-close {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}


//Average grade
@keyframes bounce-border {
    0% {
        border: 0.2em solid rgba(255, 255, 255, 0.9);
    }
    100% {
        border: 0.2em solid rgba(255, 255, 255, 0.78);
    }
}
