<div class="row">
    <div class="col-sm-4
                col-sm-hide">
        <ol class="m-timetable-home__schedule
                    m-timetable-home__schedule--prev">
            <li ng-repeat="subject in $ctrl.previousDayTT.subjects track by $index"
                class="m-timetable-home__subject">
                <span class="m-timetable-home__subject-name">
                    {{subject}}
                    <span ng-if="$ctrl.anyExamsForSubject($ctrl.previousDay, subject)"
                            class="m-timetable-home__subject-name--event">
                    </span>
                </span>
            </li>
        </ol>
    </div>

    <div class="col-sm-4
                col-xs-12">
        <ol class="m-timetable-home__schedule">
            <li ng-repeat="subject in $ctrl.currentDayTT.subjects track by $index"
                class="m-timetable-home__subject">
                <span class="m-timetable-home__subject-name">
                    {{subject}}
                    <span ng-if="$ctrl.anyExamsForSubject($ctrl.currentDay, subject)"
                            class="m-timetable-home__subject-name--event">
                    </span>
                </span>
            </li>
        </ol>
    </div>

    <div class="col-sm-4
                col-sm-hide">
        <ol class="m-timetable-home__schedule
                    m-timetable-home__schedule--next">
            <li ng-repeat="subject in $ctrl.nextDayTT.subjects track by $index"
                class="m-timetable-home__subject">
                <span class="m-timetable-home__subject-name">
                    {{subject}}
                    <span ng-if="$ctrl.anyExamsForSubject($ctrl.nextDay, subject)"
                            class="m-timetable-home__subject-name--event">
                    </span>
                </span>
            </li>
        </ol>
    </div>
</div>
