<div class="row">
    <div class="col-sm-4
                col-sm-hide">
        <ol class="m-timetable-home__schedule
                    m-timetable-home__schedule--prev">
            <li class="m-timetable-home__subject">
                <span>Math</span>
            </li>
            <li class="m-timetable-home__subject
                        m-timetable-home__subject--event">
                <span>Chemistry</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Biologia</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>English</span>
            </li>
        </ol>
    </div>

    <div class="col-sm-4
                col-xs-12">
        <ol class="m-timetable-home__schedule">
            <li class="m-timetable-home__subject">
                <span>Math</span>
            </li>
            <li class="m-timetable-home__subject
                        m-timetable-home__subject--event">
                <span>Chemistry</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Biologia</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>English</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Physics</span>
            </li>
        </ol>
    </div>

    <div class="col-sm-4
                col-sm-hide">
        <ol class="m-timetable-home__schedule
                    m-timetable-home__schedule--next">
            <li class="m-timetable-home__subject">
                <span>Math</span>
            </li>
            <li class="m-timetable-home__subject
                        m-timetable-home__subject--event">
                <span>Chemistry</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Biologia</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>English</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Physics</span>
            </li>
            <li class="m-timetable-home__subject">
                <span>Physics</span>
            </li>
        </ol>
    </div>
</div>
