<!-- Wyswietla sie gdy nie ma zadnych wydarzen w tygodniu -->
<div class="m-info
            m-info--free">
    <h3>
        This Week
    </h3>
    <div class="m-info-desc">
        You dont have any exam
    </div>
</div>

<!-- Wyswietla sie gdy sa jakies wydarzenie w tygodniu -->
<div class="m-info
            m-info--busy">
    <h3>
        This Week
    </h3>
    <div class="m-info-desc">
        <h5 class="m-info__day">
            Monday
        </h5>
        <p class="m-info__event">
            Math - exam
        </p>
        <h5 class="m-info__day">
            Friday
        </h5>
        <p class="m-info__event">
            Biology - exam
        </p>
    </div>
</div>
