<!-- Wyswietla sie gdy nie ma zadnych wydarzen w tygodniu -->
<div ng-if="$ctrl.exams.length === 0"
     style="display: block"
     class="m-info
            m-info--free">
    <h3>
        This Week
    </h3>
    <div class="m-info-desc">
        You don't have any exam
    </div>
</div>

<!-- Wyswietla sie gdy sa jakies wydarzenie w tygodniu -->
<div ng-if="$ctrl.exams.length > 0"
     class="m-info
            m-info--busy">
    <h3>
        This Week
    </h3>
    <div class="m-info-desc">
        <span ng-repeat="day in $ctrl.weekDays"
              ng-if="day.exams.length > 0">
            <h5 class="m-info__day">
                {{day.name}}
            </h5>
            <p ng-repeat="ex in day.exams"
               class="m-info__event">
                <span>
                    {{ex.subject}} - {{ex.type}}
                </span>
            </p>
        </span>

    </div>
</div>
